<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-4" *ngFor="let hosp of hospitals">
            <div class="card">
                <h3 class="card-header">Hospital</h3>
                <div class="card-body">
                <img class="card-img-top" src="assets/hospital.jpg" alt="Card image">
                <h3 class="card-title">{{hosp.name}}</h3>
                <h6 class="card-subtitle text-muted">Address: <b>{{hosp.address}}</b></h6>
                <h6 class="card-subtitle text-muted">Fundation: <b>{{hosp.createdAt}}</b></h6>
                </div>
                <div class="card-body">
                <a class="btn btn-outline-danger" (click)="deleteHospital(hosp.id)">
                    Delete
                </a>
                <a class="btn btn-primary" [routerLink]="['/hospitals/edit', hosp.id]">Update</a>
                </div>
            </div>
        </div>
        <div  *ngIf="hospitals.length==0">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Hospitals not found! <strong><a class="alert-link" (click)="redirect()">Ver lista.</a> </strong>
            </div>
        </div>
    </div>

</div>