<div class="row">
    <a class="btn btn-primary btn-lg m-3" href="#" role="button">Back</a>
</div>


<div class="row">
    <div class="col-md-6 my-4">
        <h2>Doctor Pedro Melendez</h2>
        <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <p><small>This line of text is meant to be treated as fine print.</small></p>
        <p>The following is <strong>rendered as bold text</strong>.</p>
        <p>The following is <em>rendered as italicized text</em>.</p>
        <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio
              <span class="badge badge-primary badge-pill">10/10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Dapibus ac facilisis in
              <span class="badge badge-primary badge-pill">9/10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
              <span class="badge badge-primary badge-pill">10/10</span>
            </li>
          </ul>
    </div>
    <div class="col-md-6 p-4">
        <img src="assets/doctor.jpg" alt="doctor-image" class="img-thumbnail">
    </div>
</div>





<div class="jumbotron">
    <h5 class="display-4">Hospital Buena Ventura</h5>
    <p class="lead">Esta es la direccion del hospital</p>
    <p>Telefono: 4544334-4323345</p>
    <p>Correo: hospital@buenaventura.com - admin@buenaventura.com</p>
    <p class="lead">VISION</p>
    <p>Ser una Institución líder destacada y reconocida en el ámbito de la salud por su innovación, complejidad médica y excelencia en la atención de los pacientes. </p>
    <p class="lead">MISION</p>
    <p>Somos una institución que día a día trabaja bajo el concepto de “Buenas Prácticas” en todos los sectores, especialmente en aquellos donde hay mayor contacto con nuestros Socios y No Socios. </p>
</div>



  <div class="row">
    <div class="card border-primary mb-3" >
        
        <div class="card-body">
          <h4 class="card-title">Nombre del usuario</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
          <hr>
          <h5 class="card-title">Recetas Emitidas</h5>
          <div class="list-group my-4">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>

          </div>
        </div>
      </div>
  </div>